@import url(../../components/slider-navegation/index.css);

#bodyPage{
  animation: entre 0.5s ease-out 1s both;
}
/* Home Main */
section.mainBanner{
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* All slidePages */
div.slidePages{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }
/* background-image banners*/
div.slidePage-1{background-image: url(/images/DeLuxeBackground-01.jpg);}
div.slidePage-2{background-image: url(/images/DeLuxeBackground-02.jpg);}
div.slidePage-3{background-image: url(/images/DeLuxeBackground-03.jpg);}
div.slidePage-4{background-image: url(/images/DeLuxeBackground-04.jpg);}
div.slidePage-5{background-image: url(/images/DeLuxeBackground-05.jpg);}
/* content */
  .slidePages div.containerContent{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-weight:100;
  }
    .containerContent h1{
      margin: 5% 0;
      font-size: 3.5rem;
      font-weight:100;
      letter-spacing: 0.3em;
      transform: scaleY(1.15);
      font-style: oblique;
      overflow: hidden;
    }
    .containerContent h1.mainTitleSlider {
      animation: text-focus-in  2.2s ease-in-out 1.5s both;
    } 
    .containerContent a{
      text-decoration: none;
      color: white;
    }
    .containerContent a:hover{
      color: rgb(163, 163, 163);
    }


